body {
    font-family: Arial, sans-serif;
    background-color: #FFF4D1;

}

body ul li{
    padding:20px;
    text-align: center;
}
body a{
    color: black;

    list-style-type: none;

}
header nav ul{
    padding-top: 20px;
}
header nav ul li{
    list-style-type: none;
    font-size: 30px;
}
footer{
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 60px;
}
@media (max-width: 768px) {

}
img{
    padding-left:645px ;
}